YDB_ENDPOINT=
YDB_DATABASE=
YDB_SERVICE_ACCOUNT_KEY_JSON=

TWITCH_EVENTSUB_SECRET=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
CONTENT_STORE_PATH=.data/content-store.json

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
CRON_SECRET=
