rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /clips/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /participants/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /awards/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /suggestions/{document=**} {
      allow create: if true;
      allow read, update, delete: if isSignedIn();
    }
  }
}
